{%load i18n %}
{% language user.preferences.language %}
<header class="navbar bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Reservations</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'resources_list' %}">
                {% trans "Resources" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'bookings_list' %}">
                {% trans "Bookings" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_booking_view' %}">
                {% trans "Book something" %}
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item inline">
            <a class="nav-link" href="{% url 'logout' %}">
                {{user.username}} ({% trans "logout" %})
            </a>
        </li>
        {% endif %}
    </ul>
</header>
{% endlanguage %}
