{% load i18n %}
{% load tz %}
{% language request.user.preferences.language %}
<form method="post" class="form">
    {% csrf_token %}
    {% if request.user.is_staff %}
        {% trans "Owner: " %}{{booking.owner.username}}
    {% endif %}
    {% timezone request.user.preferences.preferred_timezone %}
        {{form.as_p}}
    {% endtimezone %}
    <input
            type="hidden"
            name="timezone"
            value="{{request.user.preferences.preferred_timezone}}"
    />
    <input
            type="submit"
            name="save"
            value="{% trans 'Save' %}"
            class="btn btn-primary"
    />
</form>
{% endlanguage %}