{%extends "website/base.html" %}
{% load i18n %}

{%block content%}
{% language request.user.preferences.language %}
<h1>{{resource.label}}</h1>
<ul class="row">
    <dt class="col-sm-3">{% trans "Type" %}:</dt>
    <dd class="col-sm-9">
        {{resource.type}}
    </dd>
    <dt class="col-sm-3">{% trans "Capacity" %}:</dt>
    <dd class="col-sm-9">
        {{resource.capacity}}
    </dd>
    <dt class="col-sm-3">{% trans "Location" %}:</dt>
    <dd class="col-sm-9">
        {{resource.location}}
    </dd>
</ul>
<h1>{%trans "Bookings" %}</h1>
<ul class="list-unstyled">
    {% for booking in resource.upcoming_bookings %}
    <li>
        {% blocktrans with username=booking.owner.username start=booking.start_datetime|date:"SHORT_DATETIME_FORMAT" end=booking.end_datetime|date:"SHORT_DATETIME_FORMAT" title=booking.title%}
Booked by {{username}} from {{start}} to {{end}}: {{title}}
        {% endblocktrans %}
    </li>
    {% empty %}
        {% trans "Not booked yet" %}
    {% endfor %}
</ul>
{% endlanguage %}
{%endblock%}}
