{%extends "website/base.html" %}
{% load i18n %}

{%block content%}
<h1>{% trans "Bookings" %}</h1>
{% include "booking/components/base-filters.html" %}
<table>
    <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% trans "Resource" %}</th>
        {%if request.user.is_staff %}
        <th>{% trans "Owner" %}</th>
        {%endif%}
    </tr>
    {%for booking in object_list%}
        {%include "booking/components/booking-listitem.html" with booking=booking current_user=request.user%}
    {%endfor%}
</table>

{% include "website/components/paginator.html" with page=page_obj paginator=paginator %}

{%endblock%}}
