{%extends "website/base.html" %}
{% load i18n %}
{% load tz %}

{%block content%}
<h1>{% trans "Edit booking" %}</h1>
<form method="post">
    {% csrf_token %}
    {% if request.user.is_staff %}
        {% trans "Owner: " %}{{booking.owner.username}}
    {% endif %}
    {% timezone request.user.preferences.preferred_timezone %}
        {{form.as_p}}
    {% endtimezone %}
    <input
            type="hidden"
            name="timezone"
            value="{{request.user.preferences.preferred_timezone}}"
    />
    <input
            type="submit"
            name="save"
            value="{% trans 'Save' %}"
            class="btn btn-primary"
    />
</form>

{%endblock%}}
