{% extends "website/base.html" %}
{% load i18n %}

{% block content %}


<h1>{% trans "Bookings"%}</h1>

<div class="two-columns-page">
    <div class="half_screen">
        <h2>{%trans "Upcoming bookings" %}</h2>
        <ul>
            {% for booking in upcoming_bookings %}
            <li>
                <form>
                {{booking.start_datetime}} - {{booking.end_datetime}}:
                {{booking.title}} ({{booking.resource.label}})
                    <input type="submit" name="cancel" value="Cancel"/>
                    <input type="hidden" name="booking_id"
                           value="{{booking.pk}}"/>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="half_screen">
        <h2>{%trans "Past bookings" %}</h2>
            <ul>
                {% for booking in past_bookings %}
                   <li>
                    {{booking.start_datetime}} - {{booking.end_datetime}}:
                    {{booking.title}} ({{booking.resource.label}})
                </li>
                {% endfor %}
            </ul>
    </div>
</div>


{% endblock %}
