{%load i18n %}
{% language user.preferences.language %}
<header>
    <a id="site-logo" href="{% url 'index' %}">Reservations</a>
    <nav>
        <li class="site-nav-item">
            <a href="{% url 'resources_list' %}">
                {% trans "Resources" %}
            </a>
        </li>
        <li class="site-nav-item">
            <a href="{% url 'bookings_list' %}">
                {% trans "Bookings" %}
            </a>
        </li>
        <li class="site-nav-item">
            <a href="{% url 'create_booking_view' %}">
                {% trans "Book something" %}
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="site-nav-item">
            {{user.username}}
            (<a href="{% url 'logout' %}">{% trans "logout" %}</a>)
        </li>
        {% endif %}
    </nav>
</header>
{% endlanguage %}
