{% load tz %}
{% load i18n %}
{% language current_user.preferences.language %}
<tr
    class="{%if booking.meta_infos.is_ongoing %}current-event{%endif%}">
    <td>
        <a href="{% url 'booking_details' booking.pk %}">
            {{booking.title}}
        </a>
    </td>
    <td>
        {% timezone current_user.preferences.preferred_timezone %}
            {{booking.start_datetime}}
        {% endtimezone %}
    </td>
    <td>
        {% timezone current_user.preferences.preferred_timezone %}
            {{booking.end_datetime}}
        {% endtimezone %}
    </td>
    <td>{{booking.resource.label}}</td>
    {%if user and user.is_staff %}
    <td>{{booking.owner}}</td>
    {%endif%}
</tr>
{% endlanguage %}